*{
      margin: 0;
      padding: 0;
}
.main-content{
display: grid;
margin: 20px;
grid-template-columns: 300px 700px;
width: 90%;
min-height: 1000px;
}
.left-section{
      background-color: #abd699;
}
.left-content{
      padding: 1rem;
}
.profile-image{
      background-image: url("gettyimages-1146739180-612x612.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      height: 100px;
      width: 60%;
      border: 5px solid white;
      border-radius: 30px;
      display: block;
      margin: auto;
}
.name{
      font-size: 1.2rem;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.02px;
      padding: 0.8rem;
}
.designation{
      font-size: 1rem;
      text-align: center;
      text-transform: uppercase;
      padding-bottom: 0.5rem;
      border-bottom: 2px solid white;
}
.description{
      font-size: 0.75rem;
      text-align: center;
      padding: 1rem;
}
.social-media {
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
li{
      list-style-type: none;
       text-decoration: none;
}
.personal-details{
    margin-top: 5px;  
}
.personal-details div{
      margin-bottom: 5px;
      font-size: 0.75rem;
      font-weight: 600;
}
.skills-title{
      font-size: 0.75rem;
      text-align: center;
      text-transform: uppercase;
      padding: 1rem 0.5rem;
}
.skill-item{
      margin-bottom: 10px;
}
.skill-name{
      font-size: 0.65rem;
      font-weight: 0.65rem;
      text-align: left;
      padding-bottom: 0.5rem;
}
.progress-bar{
      border: 1px solid white;
      height: 4px;
      background-color: white;
      border-radius: 5px;
}
.right-main-content{
      padding: 2rem 3rem;
}
.right-title{
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 700;
      padding: 0.5rem;
      letter-spacing: 1px;
}
section{
      margin-bottom: 10px;
}
.about-para{
      padding: 0.5rem;
}
.education-content{
      display: flex;
      justify-content: space-between;
      padding-left: 0.5rem;
}
.secondary{
      margin-top: 10px;
}
.higher-secondary{
      margin-top: 3.2rem;
}
.secondary h3, .higher-secondary h3{
      margin-bottom: 10px;
}
.degree-section{
      padding-bottom: 5px;
      width: 82%;
}
.school{
      width: 30%;
}
.degree-title{
      font-size: 1rem;
      padding-bottom: 5px;
      font-weight: 550;
}
.sub-title{
      font-size: 0.8rem;
      margin-bottom: 10px;
}
.sub-para{
      font-size: 0.8rem;
      font-weight: 700;
}
.experience-para{
      width: 90%;
}
.project{
      width:98%;
}
.company{
      width: 18%;
}
@media screen and (max-width:647px) {
      .main-content{
            grid-template-columns: repeat(1,1fr);
      }
      
}
